
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <section>
    <div class="matter">
       <h1>Coffee Break</h1>
      <p>You can't buy happiness, but you can buy coffee, and that's pretty close.</p>
    </div>
    <div class="ani">
      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
      <iframe src="https://lottie.host/embed/ab5d9d5b-d0a9-4ce0-aa3f-64d6e8ecb165/ceYveiqBe2.lottie" [frameBorder]="0"
      background="transparent" speed="1" style="width: 500px; height: 600px;" loop autoplay></iframe>
    </div>
  </section>
</body>
</html>
