.shop{
    padding:100px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    text-align: center;
    font-family: serif;
   
}
h1{
    text-align: center;
    font-family: Georgia;
}
.coffee {
    box-shadow:6px 6px 5px black;
    padding:5px;

}
.coffee img{
    height:300px;
    width:300px;
    
}
.up{
    padding-top:120px;
    padding-bottom:3px;
}
button{
    background-color: #007bff;
    border: 2px solid #007bff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}